  .sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 101;
  padding-top: 4px;
}

.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(231, 231, 231);
}

.sidebar-link img {
  height: 26px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;

}