.thumbnail1 {
  width: 100%;
}
.video-info1 a {
  text-decoration: none;
}

.video-title1 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration-line: none;
  color: black;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;;
}
.profile-picture1 {
  width: 36px;
  border-radius: 50px;
}
.thumbnail-row1 {
  margin-bottom: 8px;
  position: relative;
}
.video-author1,
.video-stats1 {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author1 {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px; 
}

@media (max-width: 750px) {
  .video-grid {
   grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 1000px) {
  .video-grid { 
   grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position:absolute;
  bottom: 8px;
  right: 6px;
}

.channel-picture2 {
  position: relative;
  align-self: start;
  width: fit-content;
}
.tooltip1 {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  width: 180px;
  transition: opacity .3s;
}
.channel-picture2:hover .tooltip1 {
opacity: 1;
}

.tooltipimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.tooltiptitle {
font-weight: 600;
font-size: 14px;
margin: 0;
}
.tooltipsubs {
font-size: 12px;
color: gray;
padding: 4px;
}

.profile-picture2 {
    width: 36px;
    height: 36px;
  border-radius: 50px;
   cursor: pointer;
}